
*{
  font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgb(255, 255, 255);
}